PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/hotdesk?sslmode=disable
CORS_ALLOWED_ORIGINS=http://localhost:8081,http://localhost:5173
STORAGE_PATH=/stuff/goes/here
AUTH_COOKIE_SECURE="false"